<div class="container">
  <div class="nav">
    <div class="home_icons">
      <a href="https://wa.me/<34655536287>"target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="https://www.instagram.com/majotissone/?hl=es"target="_blank"><i class="fab fa-instagram"></i></a>
    </div>  
    <div class="text-inicio"> <%= link_to "Inicio", root_path, class: "btn btn-home"%>
    </div>
    <div class="text-contacto"> <%= link_to "Contacto", root_path, class: "btn btn-home"%>
    </div>
  </div>
  <hr>
</div>